:root {
    --noir: black;
    --blanc: white;
    --grispale: #6D6D6D;
    --bleugris: #6E7A96;
}


/* CSS Principal */

/* Reset default body margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/*consistent box-sizing model */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--grispale);
    min-width:980px;
    font-family: 'Calibri'
}

article {    
    background-color: var(--noir);
    margin: auto;
    max-width:980px;
    min-height:95vh;
    padding-bottom:15px;
    border-radius: 20px;
}

footer {
    margin:auto;
    margin-top: 20px;;
    max-width:980px;

}

.grid-2col {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}

.hide {
    display: none;
}


.center {
    text-align: center;
}

.centerContent{
    align-content: center;
}

.right {
    float:right;
}

.row {
    display:flex;
}

.wrap {
    flex-wrap: wrap;
}

button, .button {
    background-color: var(--bleu);
    color:white;
    padding: 10px;
}

a {
    color: var(--grispale);
}

/*change the text color to white*/
h1, h2, h3 {
    color:white;
}

article {
    color: white;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*main menu */

nav.main-menu {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flex container for icon and menu */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Icon styling */
.site-icon {
    flex-shrink: 0;
}

.site-icon img.icon {
    height: 40px; /* Adjust size as needed */
    width: auto;
}

/* Center the menu items */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--noir);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--bleugris);
    color: var(--blanc);
}
