:root {
    --noir: black;
    --blanc: white;
    --grispale: #6D6D6D;
    --bleugris: #6E7A96;
}

/*utility*/
.center{
    text-align: center;
}

.checked { /* for Star system*/
    color: orange;
}

.hide {
    display: none;
}

/* Reset default body margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--grispale);
    font-family: 'Calibri', sans-serif;
}

article, form {
    margin: auto;
    max-width: 980px;
    min-height: 95vh;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

footer {
    margin: auto;
    margin-top: 20px;
    max-width: 980px;
    text-align: center;
}

/* Main Menu */
nav.main-menu {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-icon img.icon {
    height: 40px;
    width: auto;
}

/* Desktop Menu */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--noir);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--bleugris);
    color: var(--blanc);
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.imgCarouselle{
    border-radius: 10%;
    height: 20%;
    width: 33%;
    animation: fadeinout 7s forwards;
}

.wrapperImages{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.grid-2col {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}

.fieldSets{
    display: flex;
    justify-content: center;
}

.frm-carrière .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frm-carrière fieldset {
    color: black;
    width:75%;
    border: none;
}

.fa-chevron-circle-left{
    justify-content: center;
}

.fa-chevron-circle-right{
    justify-content: center;
}

.frm-carrière label {
    font-weight: bold;
    text-align: right;
    grid-column-start: 1;
}

.frm-carrière input{
    text-align: left;
    grid-column-start: 2;
}

.frm-carrière i {
    cursor: pointer;
}

.frm-carrière i.fa-5 {
    margin : 0 30px;
    font-size: 3em;
}

span.vide {
    width:42px;
}

.microImg{
    margin-right: 5%;
}

.micro img{
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    border-radius: 20%;
}

.micro label{
    font-weight: bold;
    text-align: right;
}

.text{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.micro{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Login Form Styles */
form.login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

form.login label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

form.login input[type="text"],
form.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form.login button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form.login button:hover {
    background-color: #0056b3;
}

form.login p {
    text-align: center;
    color: #555;
}

form.login a {
    color: #007BFF;
    text-decoration: none;
}

form.login a:hover {
    text-decoration: underline;
}

/* Inscription Form Styles */

.containerRegister {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.containerRegister h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form.inscription {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form.inscription fieldset {
    border: none;
    margin-bottom: 20px;
}

form.inscription legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

form.inscription label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

form.inscription input[type="text"],
form.inscription input[type="email"],
form.inscription input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form.inscription button {
    width: 50%;
    padding: 20px;
    height: fit-content;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin:auto;
}

form.inscription button:hover {
    background-color: #0056b3;
}

form.inscription p {
    text-align: center;
    color: #555;
}

form.inscription a {
    color: #007BFF;
    text-decoration: none;
}

form.inscription a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
form.inscription fieldset {
    display: none;
}

form.inscription fieldset.active {
    display: block;
}

.nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nav-arrows button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #007BFF;
    cursor: pointer;
}

/* Desktop Styles */
@media (min-width: 981px) {
    form.inscription {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    form.inscription fieldset {
        display: block;
        margin-bottom: 0;
    }

    form.inscription button {
        grid-column: span 2;
        display: block;
    }

    .nav-arrows {
        display: none;
    }
}

/* Panier Styles */
.panier h2 {
    text-align: center;
    color: #333;
}

.panier ul {
    list-style: none;
    padding: 0;
    width: 40%;
    margin: auto;
}

.panier ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.panier ul li img {
    margin-right: 20px;
    border-radius: 8px;
    width: 100px;
    height: auto;
}

.panier ul li p {
    margin: 0 10px;
    color: #333;
    flex: 1;
    text-align: left;
}

.panier .details {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panier .details p {
    margin: 5px 0;
    color: #333;
    text-align: center;
}

.panier form {
    text-align: center;
}

.panier form button {
    padding: 10px 20px;
    background-color: var(--bleuclair);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.panier form button:hover {
    background-color: var(--bleufonce);
}

.empty-cart {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.empty-cart-img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.empty-cart p {
    font-size: 18px;
    color: #333;
}

.container{
    background-color: white;
    border-radius: 20px;
    width:30%;
    margin:auto;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
}
.message.success {
    background-color: var(--success-color);
    color: black;
}

.message.error {
    background-color: var(--error-color);
    color: black;
}